/* SET DARKMODE */
/* .datami-darkmode{
  background-color: rgb(60, 59, 59) !important;
  color: white !important;
} */

/* .datami-darkmode-grey-shades{
  background-color: rgb(81, 79, 79) !important;
  color: white !important;
  font-weight: bold !important;
}

.datami-darkmode-grey-shades:nth-child(even){
  background-color: rgb(83, 86, 86) !important;
} */

.datami-table {
  /* min-width: 100px; */
  max-width: 350px;
  overflow: auto;
  vertical-align: top !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.datami-table::-webkit-scrollbar {
  display: none;
}

.datami-table-td {
  padding: .1em .1em !important;
  min-width: 100px;
}

@media screen and (max-width:768px) {
  tbody tr td.datami-table.datami-table-td {
    min-width: 100%;
  }

  tbody tr td.datami-table.datami-table-td::before {
    width: 35%;
    overflow-x: scroll;
  }

  tbody tr td.datami-table.datami-table-td .datami-cell {
    width: 65%;
    text-align: left;
  }
}

.datami-table-td.is-sticky {
  z-index: 2 !important;
}

.th-wrap {
  justify-content: center !important;
}

.datami-table-td-edit {
  border: none !important;
}

.g-td-string {
  min-width: 100px;
}

.g-td-string-longtext {
  min-width: 350px;
}

.g-td-number {
  min-width: 85px;
}

.g-td-integer {
  min-width: 40px;
}

.g-td-boolean {
  min-width: 30px;
  text-align: center !important;
}

.g-td-string-tag {
  min-width: 100px;
  text-align: center !important;
}

.g-td-string-tags {
  min-width: 275px;
}

.detail-container {
  position: sticky;
  left: 10px !important;
  width: max-content;
}
