<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="https://gitlab.com/multi-coop/datami/-/raw/main/public/logo-DATAMI-favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body style="background-color: #D7D7D7; padding: 15em 1em 20em 1em;">
  <!-- <link rel="icon" href="<%= BASE_URL %>logo-DATAMI-favicon.ico"> -->
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

  <!-- TEST FILTERS COMPONENTS -->
  <!-- TO DO  -->

  <!-- TEST LOAD / EDIT REPO COMPONENTS -->
  <!-- TO DO  -->

  <!-- <p id="datami-csv-github-odf-ressources" class="ml-4 pt-6 subtitle has-text-white">
    <a href="/#datami-csv-github-odf-ressources" style="margin-right:  0.5em;">
      #
    </a>
    Import ODF data - ressources
  </p>
  <div style="background-color: white; margin: 1em;">
    <datami-file
      gitfile="https://github.com/multi-coop/gitribute-content-test/blob/main/data/csv/odf/ODF-liste des ressources.csv"
      options='{
      "height": "500px",
      "separator": ",",
      "lockcolumns": true,
      "tagseparator": ",",
      "customfilters": {
        "activate": true,
        "filterfields": [
          { "name": "Type", "filtering": "OR" },
          "Enjeux politiques",
          "Phase",
          "Enjeux Opérationnels"
        ]
      },
      "schema": {
        "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/odf/ODF-ressources-schema.json"
      },
      "fields-custom-properties": {
        "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/odf/ODF-ressources-fields-custom-props.json"
      },
      "customsorting" : {
        "activate": true,
        "sortfields": [
          "Objet",
          "Nom de la ressource"
        ]
      },
      "pagination":{
        "itemsPerPage": 20
      },
      "cardsview": { "activate": true, "default": false },
      "cardsdetail": true,
      "cardssettings": {
        "mini": {
          "Nom de la ressource": {"position": "title"},
          "Objet": {"position": "resume"},
          "Enjeux politiques": {"position": "tags"},
          "Phases": {"position": "tags"}
        },
        "detail": {
          "Nom de la ressource": {"position": "title"},
          "Objet": {"position": "resume"},
          "Enjeux politiques": {"position": "tags"},
          "Phases": {"position": "tags"},
          "Lien vers la ressources": {"position": "links"}
        }
      }
    }' title="ODF - Ressources (export airtable)" usertoken="" locale="fr" debug="false"></datami-file>
  </div> -->

  <p id="datami-multifiles-decider-ensemble" style="margin: 1em;">
    Décider ensemble
  </p>
  <div style="background-color: white; margin: 1em;">
    <!-- DATAMI WIDGET'S HTML BLOCK-->
    <datami-multi-files title="Ressources Décider ensemble" options='{
       "display": "horizontal"
     }' gitfiles='[
       {
         "title": "Données Décider ensemble",
         "activate": true,
         "localdev": false,
         "gitfilelocal": "http://localhost:8805/statics/csv/geocoding/decider-ensemble-ressources-geocoded.csv",
         "gitfile": "https://github.com/multi-coop/data-decider-ensemble/blob/main/csv/geocoding/decider-ensemble-ressources-geocoded.csv",
         "default-tab": true,
         "options": {
           "height": "800px",
           "separator": ",",
           "lockcolumns": true,
           "customfilters": {
             "activate": true,
             "filterfields": [
               {
                 "name": "CODE PORTEUR DE PROJET",
                 "filtering": "OR"
               },
               {
                 "name": "CODE DEMARCHE",
                 "filtering": "OR"
               },
               {
                 "name": "CODE THEMATIQUE",
                 "filtering": "OR"
               }
             ]
           },
           "schema": {
             "localdev": false,
             "filelocal": "http://localhost:8805/statics/json/decider-ensemble-ressources-schema.json",
             "file": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-schema.json",
             "file_": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-schema-bug.json"
           },
           "fields-custom-properties": {
             "localdev": false,
             "filelocal": "http://localhost:8805/statics/json/decider-ensemble-ressources-fields-custom-props.json",
             "file": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-fields-custom-props.json"
           },
           "cardsview": {
             "activate": true,
             "default": false
           },
           "cardsdetail": true,
           "cardssettings": {
             "mini": {
               "TITRE DU PROJET": {
                 "position": "title"
               },
               "NOM_PORTEUR_PROJET": {
                 "position": "subtitle"
               },
               "LOGO URL": {
                 "position": "image"
               },
               "adresse_postale": {
                 "position": "adress"
               },
               "PRÉSENTATION DU PROJET": {
                 "position": "resume"
               },
              "CODE THEMATIQUE": {
                "position": "tags"
              }
             },
             "detail": {
               "TITRE DU PROJET": {
                 "position": "title"
               },
               "LOGO URL": {
                 "position": "image",
                 "right": true
               },
               "adresse_postale": {
                 "position": "adress"
               },
               "PRÉSENTATION DU PROJET": {
                 "position": "resume"
               },
               "DESCRIPTION": {
                 "position": "description",
                 "block_title": "Description"
               },
               "CODE PORTEUR DE PROJET": {
                "position": "tags",
                "block_title": "Type de porteur",
                "right": true
              },
              "CODE DEMARCHE": {
                "position": "tags",
                "block_title": "Type de démarche",
                "right": true
              },
              "CODE THEMATIQUE": {
                "position": "tags",
                "block_title": "Type de thématique",
                "right": true
              },
               "SITE WEB": {
                 "position": "links",
                 "block_title": "Lien vers le site du projet",
                 "right": false
               },
               "LIEN PDF PROTEGE": {
                "position": "links",
                "block_title": "Lien vers fichier pdf",
                "right": false
              },
               "ÉTAPES": {
                 "position": "timeline",
                 "block_title": "Déroulé",
                 "right": true
               }
             },
             "templates": {
               "siren": {
                 "use_on_mini": true,
                 "use_on_detail": true,
                 "paragraphs": [
                   {
                     "text": {
                       "fr": "L‘organisation {{ nom }} est une {{ type }} et se situe dans le département {{ depcode }} ({{ dep_label }}) en région {{ reg_code_short }}."
                     }
                   },
                   {
                     "text": {
                       "fr": "Plus d‘infos en cliquant sur ici : ~~ url_ptf ~~"
                     }
                   }
                 ]
               }
             },
             "minimap": {
               "activate": true,
               "right_side": true,
               "mapOptions": {
                 "zoom": 5,
                 "maxZoom": 18,
                 "minZoom": 2,
                 "item_geo_fields": {
                   "latitude": "BAN_latitude",
                   "longitude": "BAN_longitude"
                 },
                 "zoom_item": 13,
                 "marker_icon": "map-marker",
                 "marker_height": 45,
                 "marker_width": 45,
                 "marker_color": "#4a4a4a"
               }
             }
           },
           "datavizview": {
             "activate": true,
             "default": false,
             "localdev": false,
             "filelocal": "http://localhost:8805/statics/json/decider-ensemble-ressources-dataviz-settings.json",
             "file": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-dataviz-settings.json"
           },
           "mapview": {
             "activate": true,
             "default": false,
             "maps": [
               {
                 "title": {
                   "fr": "CARTOGRAPHIE"
                 },
                 "height": 800,
                 "cols": 12,
                 "localdev": false,
                 "filelocal": "http://localhost:8805/statics/json/decider-ensemble-ressources-map-settings.json",
                 "file": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-map-settings.json"
               }
             ]
           }
         },
         "usertoken": ""
       },
       {
         "title": "Introduction",
         "activate": true,
         "default-tab": false,
         "localdev": false,
         "gitfilelocal": "http://localhost:8805/statics/markdown/decider-ensemble-intro.md",
         "gitfile": "https://github.com/multi-coop/data-decider-ensemble/blob/main/markdown/decider-ensemble-intro.md",
         "onlypreview": true,
         "usertoken": ""
       },
       {
         "title": "Schéma des données",
         "activate": false,
         "default-tab": false,
         "localdev": false,
         "gitfilelocal": "http://localhost:8805/statics/json/decider-ensemble-ressources-schema.json",
         "gitfile": "https://github.com/multi-coop/data-decider-ensemble/blob/main/json/decider-ensemble-ressources-schema.json",
         "options": {
           "defaultDepth": 2,
           "allowKeyEdit": true
         },
         "onlypreview": false,
         "usertoken": ""
       }
     ]' locale="fr" />
  </div>

  <!-- <p id="datami-csv-github-cooptech" class="ml-4 pt-6 subtitle has-text-white">
    <a href="/#datami-csv-github-cooptech" style="margin-right:  0.5em;">
      #
    </a>
    Liste des coopératives de la tech en France
  </p>
  <div style="background-color: white; margin: 1em;">
    <datami-file
      gitfile="https://github.com/multi-coop/gitribute-content-test/blob/main/data/csv/cooptech/Annuaire-SCOP-SCIC-tech-France.csv"
      options='{
        "height": "500px",
        "separator":",",
        "lockcolumns": true,
        "tagseparator":",",
        "customfilters" : {
          "activate": true,
          "filterfields": [
            "Statut juridique",
            "Région(s)"
          ]
        },
        "schema": {
          "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/cooptech/Annuaire-SCOP-SCIC-tech-France-schema.json"
        },
        "fields-custom-properties": {
          "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/cooptech/Annuaire-SCOP-SCIC-tech-France-fields-custom-props.json"
        },
        "customsorting" : {
          "activate": true,
          "sortfields": [
            { "name": "Nom" }
          ]
        },
        "pagination":{
          "itemsPerPage": 20
        },
        "cardsview": { "activate": true, "default": false },
        "cardsdetail": true,
        "cardssettings": {
          "mini": {
            "Nom": {"position": "title"},
            "Présentation": {"position": "description"},
            "Site internet": {"position": "description"},
            "Statut juridique": {"position": "tags"},
            "Domaine(s)": {"position": "tags"}
          },
          "detail": {
            "Nom": {"position": "title"},
            "Site internet": {"position": "description"},
            "Présentation": {"position": "description"},
            "Numéro SIREN": {"position": "description"},
            "Adresse": {"position": "description"},
            "Statut juridique": {"position": "tags"},
            "Domaine(s)": {"position": "tags"},
            "Fiche URSCOP": {"position": "links"}
          }
        }
      }' title="Liste des coopératives de la tech en France - csv ( semicolon separator )" usertoken="" locale="fr"
      debug="false"></datami-file>
  </div> -->

  <!-- <p id="datami-json-github" class="ml-4 pt-6 subtitle has-text-white">
    <a href="/#datami-json-github" style="color: white; margin-right: 0.5em;">
      #
    </a>
    Import and edit a json file from github
  </p>
  <div style="background-color: white; margin: 1em;">
    <datami-file
      gitfile="https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/test-json.json" options='{
        "defaultDepth": "all",
        "allowKeyEdit": true
      }' title="datami for github file - json" usertoken="" locale="fr" onlypreview="false" debug="false">
    </datami-file>
  </div> -->

  <!-- built files will be auto injected -->
</body>

</html>
